@page "/seccion6"
@using System.Timers
@implements IDisposable

<h3>Seccion 6 - Separación de código</h3>
<p>Valor contador: @contador</p>
<button @onclick="Arrancar">Arranca temporizador</button>
<button @onclick="Parrar">Para temporizador</button>

