<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ConceptosBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="seccion1">
                <span class="oi oi-plus" aria-hidden="true"></span> Sección 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="seccion2">
                <span class="oi oi-plus" aria-hidden="true"></span> Sección 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="seccion3">
                <span class="oi oi-plus" aria-hidden="true"></span> Sección 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="seccion4">
                <span class="oi oi-plus" aria-hidden="true"></span> Sección 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="seccion5">
                <span class="oi oi-plus" aria-hidden="true"></span> Sección 5
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
