@page "/seccion3"
@using System.Timers
@implements IDisposable

<h3>Seccion3 - Timers</h3>
<p>Valor contador: @contador</p>
<button @onclick="Arrancar">Arranca temporizador</button>
<button @onclick="Parrar">Para temporizador</button>

@code {

    private Timer miTimer = new();
    private int contador;

    protected override void OnInitialized()
    {
        miTimer.Interval = 1000;
        miTimer.Elapsed += MetodoTimer;
        contador = 0;

    }

    private void Arrancar()
    {
        miTimer.Start();
    }

    private void Parrar()
    {
        miTimer.Stop();
    }

    private void MetodoTimer(object senter, ElapsedEventArgs e)
    {
        contador++;
        Console.WriteLine($"Valor del contador {contador}");
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        miTimer.Dispose();
    }


}
