@page "/seccion7"
@using System.Timers
@implements IDisposable
@inherits Seccion7Base

<h3>Seccion 7 - Separación de código por herencia</h3>
<p>Valor contador: @contador</p>
<button @onclick="Arrancar">Arranca temporizador</button>
<button @onclick="Parrar">Para temporizador</button>

<div class="Esycotnrol w-100" >
<p>SDAFSDFSD</p>
</div>
<style>
    
</style>
